<% post.comments.forEach(comment => { %>
    <div class="comment-container" data-comment-id="<%= comment.id %>" data-user-id="<%= user ? user.id : '' %>" data-comment-author-id="<%= comment.user.id %>"> 

        <div class="comment-author-section comment-section"> 

            <div class="comment-author-section-left">
                <a href="/author/<%= post.user.id %>">
                    <img src="<%= comment.user.imagePath %>" alt="image" class="comment-author-img">
                </a>
            </div>
            
            <div class="comment-author-section-right">
                <h3 class="comment-author-name"><%= comment.user.name %></h3>
                <p class="comment-date"><%= comment.date %></p>
            </div>

            <div class="comment-author-dropdown">
                <a href="/author/<%= comment.user.id %>">
                    <img src="<%= comment.user.imagePath %>" alt="" class="comment-author-dropdown-img">
                </a>
                <a href="/author/<%= comment.user.id %>" class="comment-author-dropdown-name">
                    <h3><%= comment.user.name %></h3>
                </a>
                <p class="comment-author-dropdown-followers">200 followers</p>
                <p class="coment-author-dropdown-bio"><%= comment.user.bio %></p>

                <button class="comment-author-dropdown-follow-btn">Follow</button>
            </div>

        </div>

        <div class="comment-content-section comment-section"> <%- comment.getContent() %> </div> 

        <div class="comment-feedback-section comment-section">
            <div class="comment-likes-container"> 
                <% if (comment.hasLiked == true) { %> 
                    <i class="fa-solid fa-thumbs-up comment-like-icon" style='color: blue;'></i>
                <% } else { %> 
                    <i class="fa-solid fa-thumbs-up comment-like-icon"></i> 
                <% } %> 
                <p class="comment-likes"> <%= comment.likes %> </p> 
            </div>
        </div> 

        <% if (user) {
            if (user.id == comment.user.id) { %>
                <div class="comment-dropdown-container">
    
                    <i class="fa-solid fa-ellipsis comment-dropdown-toggler"></i>
                    
                    <div class="comment-dropdown">
                        <% if (user) { %>
                            <p class="edit-comment-btn">Edit comment</p>
                            <p class="delete-comment-btn">Delete comment</p>
                        <% } else { %>
                            <p style="color: red;">Report comment</p>
                        <% } %>
                    </div>
            
                </div>
            <% } 
        } %>
        
    </div> 

<% }) %>