<%- include('./head.ejs', {
    title: 'author-profile', 
    cssFiles: ['header.css', 'author-profile.css',], 
    jsDependencies: {
        tinyMCE: true,
        fontawesome: true
    }
}) %>
<body>
    <% if (user) { %>
        <%- include('header.ejs', {user, viewname: 'author-profile'}) %>
    <% } else { %>
        <header>
            <h2>THE BLOG</h2>
            <div id="header-btns">
                <button id="show-login-form-btn">Login</button>

                <button id="show-register-form-btn">Register</button>
            </div>
        </header> 
    <% } %>

    <div id="container" data-user-id="<%= user ? user.id : '' %>">
        <div id="main">
            <h2 id="main-author-name"><%= author.name %></h2>

            <div id="options">
                <p id="home">Home</p>
                <p id="about">About</p>
            </div>

            <div id="content">

                <div id="home-content">
                    <div id="posts-container">
                        <% author.posts.forEach(post => { %>
                            <div class="post-container" data-post-id="<%= post.id %>">
                                <div class="post-info-container">

                                    <div class="post-info-container-top">
                                        <h3 class="post-title"><%= post.title %></h3>
                                    </div>

                                    <div class="post-info-container-bottom">
                                        <p class="post-date"><%= post.date %></p>
                                        
                                        <div class="post-claps-container">
                                            <i class="fa-solid fa-hands-clapping post-claps-icon"></i>
                                            <p class="post-claps"><%= post.claps %></p>
                                        </div>
                                    </div>
                                    
                                </div>
                                <img src="<%= post.imagePath %>" alt="" class="post-img">

                                <div class="post-options">
                                    <i class="fa-regular fa-bookmark save-post-icon"></i>
                                    
                                    <i class="fa-solid fa-ellipsis post-dropdown-toggler"></i>
                                    <div class="post-dropdown">
                                        <p class="post-dropdown-follow-author-btn">Follow author</p>
                                        <p class="open-report-post-modal-btn">Report Story</p>
                                    </div>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                </div>

                <div id="about-content">
                    <p id="membership-time">THE BLOG member since</p>

                    <div id="followers-container">
                        <p>100 Followers</p>
                        <p>3 following</p>
                    </div>

                    <div id="social-media-container">
                        <p>Connect with <%= author.name %></p>
                    </div>
                    
                </div>

                <% if (user) { %>
                    <div id="subscription-container">
                        <h3>Get an email whenever <%= author.name %> publishes</h3>

                        <div id="subscription-container-bottom">
                            <p>Emails will be sent to <%= user.email %> </p>
    
                            <button id="subscription-container-subscribe-btn">Suscribe</button>
                        </div>
    
                    </div>
    
                <% } %>
               
            </div>

        </div>
        <aside>
            <div id="author-main">
                <img src="<%= author.imagePath %>" alt="" id="author-img">

                <div id="author-info">
                    <h3 id="author-info-name"><%= author.name %></h3>
                    <p id="author-info-followers">800 followers</p>
                    <p id="author-info-bio"><%= author.bio %></p>
                </div>
            
            </div>
            
            <div id="author-profile-btns">
                <button id="follow-author-btn">follow</button>

                <button id="suscribe-btn"><i class="fa-solid fa-envelope"></i></button>
            </div>
        </aside>
    </div>

    <div id="overlay"></div>

    <div id="report-post-modal">
        <h2>Report Post</h2>
        <form id="report-post-form">
            <label>
              <input type="radio" name="report-reason" value="harassment">
              Harrasment
            </label>
            <label>
              <input type="radio" name="report-reason" value="AI-generated">
              AI generated
            </label>
            <label>
              <input type="radio" name="report-reason" value="spam">
              Spam
            </label>
          </form>

          <p id="report-message"></p>
          
        <div id="report-post-modal-btns">
            <button id="close-report-post-modal-btn" class="report-post-btn">Cancel</button>
            <button id="report-post-btn" class="report-post-btn" disabled>Report</button>
        </div>
    </div>

    <div id="report-post-modal-overlay"></div>

    <% if (user) { %>
        <script src="/js/header.js"></script>
    <% } else { %>
        <%- include('./_login-forms.ejs') %>
        <script src="/js/unlogged-users-header.js"></script>
    <% } %>

    <script src="/js/author-profile.js" type="module"></script>
    
</body>
</html>