<%- include('./head.ejs', {
    title: 'home',
    cssFiles: ['index.css', 'header.css'],
    jsDependencies: {
        tinyMCE: false,
        fontawesome: true
    }
}) %>
<body data-user-id="<%= user ? user.id : '' %>">

    <div id="container">
            <% if (user) { %>
                <%- include('header.ejs', {user, viewname: 'index'}) %>
            <% } else { %>
                <%- include('unlogged-users-header.ejs') %>
            <% } %>
    
        <section id="latest-posts-section">
            <h2 class="section-title">Latest</h2>
            <div id="latest-posts-container">
                <% posts.forEach(post => { %>
                    <div class="post-container">

                        <a href="/posts/<%=post.id %>" class="post-link">
                            <img src="<%= post.imagePath %>" class="post-img">
                            <h3 class="post-title"> <%= post.title %> </h3>
                            <!-- <div id="post-content"> </div> -->
                        </a>

                        <div class="post-author-section">
                            <a href="/authors/<%= post.user.id %>">
                                <img src="<%= post.user.imagePath %>" alt="" class="author-img">
                            </a>
                            
                            <div id="author-info">
                                <a href="/authors/<%= post.user.id %>" class="author-name">
                                    <p><%= post.user.name %></p>
                                </a> 
                                <p class="post-date"><%= post.date %></p>
                            </div>

                            <div class="author-dropdown">
                                <div class="author-dropdown-main">
                                    <a class="author-dropdown-name" href="/authors/<%=post.user.id%>"><%= post.user.name %></a>
                                    <a href="/authors/<%= post.user.id %>">
                                        <img src="<%= post.user.imagePath %>" alt="" class="author-dropdown-img">
                                    </a>
                                </div>

                                <p class="author-dropdown-bio"><%= post.user.bio %></p>

                                <button class="follow-author-btn">follow</button>

                            </div>
                        </div>

                    </div>
                <% }); %>
            </div>
        </section>

    </div>

    <div id="overlay"></div>

    <% if (user) { %>
        <script src="/js/header/header.js" type="module"></script>
    <% } else { %>
        <%- include('./_login-forms.ejs') %>
        <script src="/js/unlogged-users-header/unlogged-users-header.js" type="module"></script>
    <% } %> 

    <script src="/js/index.js" type="module"></script>
    
</body>
</html>