<%- include('./head.ejs', {
    title: 'post', 
    cssFiles: ['header.css', 'post.css'], 
    jsDependencies: {
        tinyMCE: true,
        fontawesome: true
    }
}) %>
<body>
    <% if (user) { %>
        <%- include('header.ejs', {user, viewname: 'post'}) %>
    <% } else { %>
        <%- include('unlogged-users-header.ejs') %>
    <% } %>

    <section id="post-section" data-post-content="<%= post.content %>" data-post="<%= JSON.stringify(post)%>" data-post-id="<%= post.id %>" data-user-id="<%= user ? user.id : '' %>">
        <h1 id="post-title"> <%= post.title %></h1>

        <div id="post-author-section">
            <div id="post-author-section-left">
                <a href="/author/<%= post.user.id %>">
                    <img src="<%= post.user.imagePath %>" alt="" id="post-author-img">
                </a>
            </div>

            <div id="post-author-section-right">
                <div id="post-author-info">
                    <a id="post-author-name" href="/author/<%= post.user.id %>"><%= post.user.name %> </a>
                    <p id="post-follow-author-btn">Follow</p>
                </div>
                <p id="post-date"><%= post.date %></p>
            </div>

            <div id="post-author-dropdown">
                <a href="/author/<%= post.user.id %>">
                    <img src="<%= post.user.imagePath %>" alt="" id="post-author-dropdown-img">
                </a>
                <a href="/author/<%= post.user.id %>" id="post-author-dropdown-name">
                    <h3><%= post.user.name %></h3>
                </a>
                <p id="post-author-dropdown-followers">0 followers</p>
                <p id="post-author-dropdown-bio"><%= post.user.bio %></p>
                <button id="post-author-dropdown-follow-btn">follow</button>
            </div>
        </div>

        <div id="post-stats">

            <div id="post-claps">
                <% if (post.hasClapped) { %>
                    <i class="fa-solid fa-hands-clapping" id="claps-icon" style="color: blue;"></i>
                <% } else { %>
                    <i class="fa-solid fa-hands-clapping" id="claps-icon"></i>
                <% } %>
                <p id="claps-counter"><%= post.claps %></p>
            </div>

            <div id="post-comments">
                <i class="fa-regular fa-comment"></i>
                <p id="comments-counter"><%= post.getCommentsNumber() %></p>
            </div>

            <i class="fa-regular fa-bookmark" id="save-post-btn"></i>
    
        </div>
        <img id="post-img" src="<%= post.imagePath %>">
        <div id="post-content">
            <%- post.content %>
        </div>
    </section>

    <div id="dividing-line"></div>

    <section id="comments-section">
        <h2 class="section-title" id="comments-section-title">Comments (<%= post.getCommentsNumber()%>)</h2>

        <div id="comment-textarea-container">

            <% if (user) { %>
                <textarea id="comment-textarea" placeholder="What are your thoughts?"></textarea>
            <% } else { %>
                <textarea id="comment-textarea" class="disabled" placeholder="What are your thoughts?" rows="1"></textarea>
            <% } %>

            <div id="comment-btns-container">
                <button id="cancel-comment-btn">
                    Cancel
                </button>
                <button id="add-comment-btn" disabled>
                    Respond
                </button>
            </div>

        </div>

        <div id="comments-container">
            <%- include('./_comments', {post, user}) %>
        </div>
    </section>

    <div id="comment-deletion-container">
        <h2>Delete</h2>
        <p>Deleted comments are gone forever, Are you sure</p>

        <div id="comment-deletion-container-btns">
            <button id="cancel-comment-deletion-btn">Cancel</button>

            <button id="delete-comment-btn">Delete comment</button>
        </div>
    </div>

    <div id="overlay">
    </div>

    <% if (user) { %>
        <script src="/js/header.js"></script>
    <% } else { %>
        <%- include('./_login-forms.ejs') %>
        <script src="/js/unlogged-users-header.js"></script>
    <% } %> 
    
    <script src="/js/post.js" type="module"></script>
    
</body>
</html>
